{% extends 'base.html' %}

{% block content %}
    <body class="page-account">
    <input type="checkbox" id="hamb"/>
    {% include 'includes/header.html' %}
    <main>
        <section class="account sent">
            <h3>Здесь будут задания от тренера.</h3>
            {% for plank in planks %}
                <div class="table1">
                    <p class="table1-title">Планка </p>
                    <div class="table1-content">
                        <div class="t1-row">
                            <div class="t1-cell-th1">Дней</div>
                            <div class="t1-cell-th2">Калорий</div>
                            <div class="t1-cell-th3">Белок</div>
                            <div class="t1-cell-th4">Шаги</div>
                        </div>
                        <div class="t2-row">
                            <div class="t2-cell-th1">{{ plank.days }}</div>
                            <div class="t2-cell-th2">{{ plank.callories }}</div>
                            <div class="t2-cell-th3">{{ plank.protein }}</div>
                            <div class="t2-cell-th4">{{ plank.steps }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="not">
                <p class="not-title">Задание на неделю</p>
                <p class="not-content">
                    {{ tasks.text }}
                </p>
            </div>
            <a href="{% url 'core:results' %}" class="btn">
                <span>Мой результат</span>
            </a>
        </section>
    </main>
    </body>
{% endblock %}