<nav>
    <a href="{% url 'core:about' %}">О проекте</a>
    <a href="/" class="active">Отзывы</a>
    {% if user.is_authenticated %}
        {% if user.profile.active %}
            <a href="{% url 'core:admin_review' %}">Профиль</a>
            <a href="{% url 'users:logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'users:profile_update' %}">Профиль</a>
            <a href="{% url 'users:logout' %}">Выйти</a>
        {% endif %}
    {% else %}
        <a href="{% url 'users:login' %}" class="entry-a">Войти</a>
    {% endif %}
</nav>